@import "tailwindcss";
@plugin "daisyui";
@keyframes gradient-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-border {
  background-size: 300% 300%;
  animation: gradient-border 4s ease infinite;
}

@keyframes smooth-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-border {
  animation: smooth-gradient 8s ease-in-out infinite;
  background-size: 300% 300%;
}
